<%= render 'projects/header', project: @project, internal: true %>

<div class="container">
  <div class="simulator-container" id="simulator-container">
    <h2>Simular projeto</h2>

    <div id="simulator" class="simulator">
      <div class="simulator-stage-container">
        <div class="simulator-stage"></div>
      </div>

      <div class="simulator-values">
        <h4>Detalhes da simulação</h4>

        <section class="simulator-cycle-count">
          <h5>Ciclos</h5>
          <span class="counter" data-bind="cycle-count"></span>
        </section>

        <section class="simulator-variables">
          <h5>Variáveis</h5>
          <table class="table table-condensed"><tbody></tbody></table>
        </section>

        <section class="simulator-agents">
          <h5>Agentes</h5>
          <table class="table table-condensed"><tbody></tbody></table>
        </section>
      </div>

      <div class="simulator-options">
        <h4>Opções</h4>

        <div class="speed-container">
          <label>Velocidade:</label>
          <input type="range" data-value="speed" min="30" max="4000">
          <span data-bind="speed"></span>ms por ciclo
        </div>

        <div class="simulator-actions">
          <button class="btn btn-default" data-action="reset">Resetar</button>
          <button class="btn btn-default" data-action="start">Iniciar</button>
          <button class="btn btn-default" data-action="stop">Parar</button>
          <button class="btn btn-default" data-action="step">Passo</button>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>

<script id="agent-context-menu-template" type="text/template">
  <div class="agent-context-menu">
    <ul class="dropdown-menu">
      <li class="dropdown-header">Agente: <span data-bind="agent-name"></span> (<span data-bind="agent-age"></span> ciclo<span data-bind="agent-age-plural"></span>)</li>
      <li><a href="" data-action="move-agent">Mover agente</a></li>
      <li><a href="" data-action="kill-agent">Remover agente</a></li>
    </ul>
  </div>
</script>

<script>
  window.projectDefinition = <%= raw render(template: 'projects/show.json') %>
</script>
