<%= render 'projects/header', project: @project, internal: true %>

<div class="container">
  <div class="simulator-container" id="simulator-container">
    <h2>Simular projeto</h2>

    <div id="simulator" class="simulator">
      <div class="simulator-stage-container">
        <div class="simulator-stage"></div>
      </div>

      <div class="simulator-options">
        <div class="speed-container">
          <label>Velocidade:</label>
          <input type="range" data-value="speed" min="50" max="4000">
          <span data-bind="speed"></span>ms por ciclo
        </div>

        <div class="simulator-actions">
          <button class="btn btn-default" data-action="reset">Resetar</button>
          <button class="btn btn-default" data-action="start">Iniciar</button>
          <button class="btn btn-default" data-action="stop">Parar</button>
          <button class="btn btn-default" data-action="step">Passo</button>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    Ciclos: <span data-bind="cycle-count"></span>
  </div>
</div>

<script>
  window.projectDefinition = <%= raw render(template: 'projects/show.json') %>
</script>
