<p>Olá,</p>

<p>
  <%= @project_invite.inviter.name %> convidou você para se cadastrar no ambiente Web Simula e ter
  acesso ao projeto <%= @project_invite.project.name %>. Clique no link abaixo para se cadastrar.
</p>

<p>
  <%= link_to 'Cadastrar', @url %>
</p>
