<h2>Condição de parada</h2>

TO-DO: exibir visualmente<br><br>

<pre><%= JSON.pretty_generate(@project.stop_condition) %></pre>

<%= link_to 'Editar', edit_stop_condition_project_path(@project), class: 'btn btn-sm btn-success' %>
