<h2>Condição de parada</h2>

<% if @project.stop_condition %>
  <condition-field
    :read-only="true"
    :value="<%= @project.stop_condition.to_json %>"
    :function-types="['condition']"></condition-field>

  <br>
<% else %>
  <p>Sem condição de parada (a simulação irá executar ininterruptamente).</p>
<% end %>

<%= link_to 'Editar condição', edit_stop_condition_project_path(@project), class: 'btn btn-sm btn-success' %>
