<h2>Variáveis</h2>

<% if @variables.length > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th width="90%">Nome</th>
        <th width="10%">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <% @variables.each do |variable| %>
        <tr>
          <td><%= link_to variable.name, edit_project_variable_path(@project, variable) %></td>
          <td nowrap><%= variable.data_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Nova variável', new_project_variable_path(@project), class: 'btn btn-sm btn-success' %>
