<h2>Variáveis</h2>

<% if @variables.empty? %>
  <p>Não há variáveis.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th width="80%">Nome</th>
        <th width="10%">Tipo</th>
        <th width="10%" nowrap>Valor inicial</th>
      </tr>
    </thead>
    <tbody>
      <% @variables.each do |variable| %>
        <tr>
          <td><%= link_to variable.name, edit_project_variable_path(@project, variable) %></td>
          <td nowrap><%= variable_data_type(variable) %></td>
          <td nowrap><%= variable.initial_value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @project.can_be_edited_by?(current_user) %>
  <%= link_to 'Nova variável', new_project_variable_path(@project), class: 'btn btn-sm btn-success' %>
<% end %>
