<div class="container">
  <h2>Meus projetos</h2>

  <% if @projects.length > 0 %>
    <div class="row">
      <div class="col-md-5">
        <table class="table">
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td><%= link_to project.name, project %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <p>Você não tem nenhum projeto.</p>
    <br>
  <% end %>

  <%= link_to 'Novo projeto', new_project_path, class: 'btn btn-success' %>
</div>
