<div class="container">
  <h2>Projetos públicos</h2>

  <p>Nessa página você encontra projetos de simulação públicos criados por outros usuários.<br>
    Você pode executar simulações sobre estes projetos e ver como eles foram configurados.</p>

  <br>

  <% if @projects.length > 0 %>
    <div class="row">
      <div class="col-md-5">
        <table class="table">
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td><%= link_to project.name, project %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
