/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require spectrum
 *= require bootstrap-editable
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$sticky_footer_height: 50px;

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #fff;
}

.form-control {
  border-radius: 0;
}

.btn {
  box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* header */
.navbar {
  margin-bottom: 0;
}

.header-alerts {
  .alert {
    margin-bottom: 0;
  }
}

.project-header {
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;

  .project-name {
    float: left;
    padding: 20px 0;

    h1 {
      cursor: default;
      font-weight: normal;
      font-size: 30px;
      margin: 0;
      padding: 0;

      a {
        color: #000;
        text-decoration: none;
      }
    }
  }

  .project-actions {
    float: right;
    padding-top: 7px;

    .action {
      height: 58px;
      color: #000;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      margin-left: 10px;
      padding: 8px;
      border-radius: 4px;
      transition: background .1s linear;

      &:hover {
        background: rgba(0, 0, 0, .1);
      }

      &:active {
        background: rgba(0, 0, 0, .2);
      }

      .glyphicon {
        display: block;
        color: #000;
        font-size: 22px;
        margin-bottom: 3px;
      }

      label {
        cursor: pointer;
        font-weight: normal;
        font-size: 12px;
      }

      .glyphicon-play-circle { color: green; }
    }
  }
}

.sticky-footer {
  padding: 0 10px;
  margin-top: 40px;
  color: #666;
  font-size: 12px;

  a {
    color: #333;
  }

  .container {
    border-top: 1px solid #ddd;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .source-code {
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  body {
    margin-bottom: $sticky_footer_height;
    padding-bottom: 40px;
  }

  .sticky-footer {
    position: absolute;
    width: 100%;
    height: $sticky_footer_height;
    font-size: 13px;
    bottom: 0;
    margin-top: 0;

    .container {
      padding-top: 12px;
    }

    .credits { float: left; }
    .source-code { float: right; padding-top: 0; }
  }
}

.table-section-header {
  background: #eee;

  h4 {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0;
  }
}

.edit-agent-image {
  display: inline-block;
  border: 2px dashed #ccc;
  padding: 6px;

  &:hover {
    border-color: #069;
  }
}

.edit-agent-image-container {
  .editor {
    margin-bottom: 10px;
  }
}

.back-link-container {
  padding-top: 20px;
}

.pixelated {
  // Disable antialiasing
  // https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.form {
  margin-bottom: 40px;
}

.project-help-modal {
  .modal-body {
    text-align: justify;
  }

  .play-button-container {
    text-align: center;
    margin: 20px 0;
  }
}

.function-help-modal {
  .modal-body {
    text-align: justify;
  }

  .help-illustration {
    display: inline-block;
    text-align: left;
    margin: 0 20px 10px 0;

    img {
      display: block;
    }

    .illustration-label {
      display: block;
      font-size: 12px;
      margin-top: 10px;
    }

    &.right {
      float: right;
      margin: 20px 0 20px 20px;
    }
  }
}
