.image-editor {
  .right-pane {
    float: left;
    padding-left: 20px;

    .color-picker-container {
      margin-bottom: 20px;

      .or {
        display: inline-block;
        margin: 0 5px;
      }
    }

    label {
      font-weight: normal;
      display: block;
      margin-bottom: 5px;
    }
  }

  .btn-eyedropper {
    height: 32px;
    padding: 4px 14px;

    img {
      width: 15px;
      height: 15px;
    }
  }

  .file-selector-container {
    .hint {
      display: block;
      font-size: 12px;
      transition: .1s linear;
      opacity: 0;
      margin-top: 6px;
    }

    &:hover .hint {
      opacity: 1;
    }
  }
}

.image-editor-grid,
.image-editor-grid tr,
.image-editor-grid td {
  border: 1px solid rgba(0, 0, 0, .3);
  border-collapse: collapse;
}

.image-editor-grid {
  float: left;
  background-image: image-url('transparent.png');
}

.image-editor-grid td {
  width: 16px;
  height: 16px;
}
