<p>Olá <%= @resource.name %>!</p>

<p>Alguém requisitou um link para redefinir a sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Redefinir minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor ignore este e-mail.</p>

<p>Sua senha não será trocada até que você acesse o link abaixo e crie uma nova senha.</p>
