<%= render 'projects/header', project: @project, internal: true %>

<div class="container">
  <div class="form">
    <h2>Editar variável</h2>

    <%= render 'form', project: @project, variable: @variable %>
  </div>
</div>
