<%= render 'projects/header', project: @project, internal: true %>

<div class="container">
  <div class="form">
    <% if @project.can_be_edited_by?(current_user) %>
      <h2>Variável</h2>
    <% else %>
      <h2>Variável "<%= @variable.name %>"</h2>
    <% end %>

    <%= render 'form', project: @project, variable: @variable %>
  </div>
</div>
