<%= render 'projects/header', project: @project, internal: true %>

<div class="container">
  <div class="back-link-container">
    <%= link_to "â† Voltar para #{@agent.name}", edit_project_agent_path(@project, @agent) %>
  </div>

  <% if @project.can_be_edited_by?(current_user) %>
    <h2>Editar regra</h2>
  <% else %>
    <h2>Regra do agente</h2>
  <% end %>

  <%= render 'form' %>
</div>
